.single-post-container {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.post-content {
    /*margin-left: 125px; à vérifier */
    margin-right: 125px;
    margin-top: 30px;
}

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 100px;
}

.title_ref {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/*titre de la publication */
.post-title {
    font-family: 'Space_Mono';
    font-style: italic; 
    font-weight: 500;
    text-transform: uppercase; /* Transforme le texte en lettres majuscules */
    font-size: 66px;
}

.line-break-title {
    line-height: 0.9; 
}
  
/* image miniature de la publication */
.post-thumbnail img {
    object-fit: cover; /* permet le controle des dimension et de la position des images dans le conteneur */
    width: 563px;
    height: 844px;
    width: 100%;
}

.post-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.title_ref {
    border-bottom: 1px solid black;
    margin-right: 10px;
    width: 100%;
    margin-left: 50px;
    
}

.ref {
    font-family: 'Space_mono';
    font-size: 14px;
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-transform: uppercase; /* Transforme le texte en lettres majuscules */
}


