.filters-photos {
    display: flex;
    justify-content: space-between;
    margin: 40px 154px;
}

.filters {
    display: flex;
    gap: 15px;
}

.filters select,
#sort-by {
    width: 260px ;
    height: 43px ;
    border-radius: 8px;
    border-color: #B8BBC2 ;
    font-family: 'Poppins';
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-width: 2px;
    background-color: #ffffff; 
    border-top: 1px solid #B8BBC2;
    padding: 10px;
}

.sort-by-container{
    margin-right: -11px;
}

