.site-footer {
    padding: 10px;
    border-top: 1px solid black;
  
    .footer-navigation {
        display: flex;
        justify-content: center;
      
        .footer-menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
          
            li {
                margin: 0 40px;
            }
        }
    }
}
