@media screen and (max-width: 600px) {

    /* HEADER */
    
    .site-header {
        height: 70px;
    }
    
    .container {
        margin: 0;
    }
    
    .site-logo {
        margin-top: 30px;
    }
    
    .hero {
        height: 264px;
        img {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 348px;
            height: 253px;
            top: 5px;
            margin-top: 270px;
    }
    
     
    }
    /*********** PAGE A PROPOS***********/
    .post-title{
        padding-left: 50px;
    }
    
    /*********** MODAL DE CONTACT ***********/
    .overlay{
        left: 0;
    }
    .modal {
        width: 286px;
        height: 720px;
        margin-top: 21px;
        img {
            width: 300px;
        }
    }
    
    
    
    .wpcf7-form-control.wpcf7-text {
        height: 28px!important;
        width: 214px!important;
    }
    
    .wpcf7-form-control.wpcf7-textarea {
        height: 110px;
        width: 214px;
    }
    
    .wpcf7-form-control.has-spinner.wpcf7-submit {
        width: 214px;
    }

    /*********** FILTRES et PHOTOS ***********/
.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filters {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
}

.filters-photos {
    display: flex;
    flex-direction: column;   
    gap: 0;
}
.sort-by-container{
    padding-top: 10px;
}

.thumbnail img {
    height: 346px;
    width: 356px;
    object-fit: cover;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
}

.thumbnail{
    margin: auto;
}

.thumbnail-single{
    padding: 0;
}

.thumbnail-hover__expand img {
    width: 34px;
    height: 34px;
}

.thumbnail-hover__eye img {
    width: 46px !important;
    height: 30px !important;
    object-fit: contain;
}

/*********** FOOTER ***********/
.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/*********** SINGLE-POST ***********/ 
.first-section {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
}
.title_ref{
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    margin-left: 0;
    align-items: flex-start;
    padding: 38px;
    .title{
        margin-left: -45px;
    }
}

.post-thumbnail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-post-container {
    overflow: initial;
}



.post-content {
    margin: 0;
    margin-top: 30px;
}

.post-thumbnail img {
    object-fit: cover;
    width: 85%;
    height: 100%;
    /*margin-right: 95px;*/
}

.post-text{
    margin-right: 10px;
}




.second-section {
        padding: 30px 0 30px 0;
        margin-left: 0;
        gap: 10px;
        justify-content: center;
       
    .CTA{
        display: flex;
        flex-direction: column;
        padding: 30px 0 30px 0;
        justify-content: center;    
        gap: 10px;
        
    }
}



.titre{
    padding-left: 0px;
    margin-right: 55px;
}

.photo-navigation {
    display: none;
}

.third-section p {
        font-size: 18px;
        font-weight: 400;   
}

.double-photos {
    display: flex;
    align-items: center;
    margin: 50px 0;
    flex-direction: column;
    gap: 20px;

    .thumbnail img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: auto;
    }
}

/*********** LIGHTBOX ***********/ 

.lightbox__container {
    img {
        width: 100%;
        height: 100%;
    }
}

.lightbox__ {
    &next {
        top: 665px;
    }

    &prev {
        top: 665px;
    }

}
body {
    overflow-x: hidden; 
}


}


