.titre {
    p {
        font-family: 'Space_mono';
        font-size: 18px;
        margin-left: 50px;
    }
}

.double-photos {
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
    width: 100%;
}

.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin: 40px 50px;
    grid-gap: 20px;
    width: 97%; /* à vérifier */
}

.thumbnail {
    position: relative;

    img {
        height: 595px;
        width: 564px;
        width: 100%;
        object-fit: cover;
    }

    &:hover .thumbnail-hover {
        opacity: 1;
    }
}

.thumbnail-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;

    &__overlay {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    &__eye {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 50px;
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 46px;
            height: 31px;
        }
    }

    &__expand {
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 50px;
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        img {
            width: 34px;
            height: 34px;
        }
    }

    &__info {
        font-family: 'Space_mono';
        width: 90%;
        display: flex;
        position: absolute;
        bottom: 10px;
        color: white !important;
        padding: 10px;
        border-radius: 5px;
        justify-content: space-between;
        text-transform: uppercase;
        pointer-events: none;
    }

    &__category {
        span a {
            color: white !important;
            pointer-events: none;
        }
    }
}


